<%- include("partials/header.ejs") %>

<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between p-3 mb-4 border">
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        <img src="images/image_0.png" alt="Home" width="50" height="50">
      </a>
    </div>
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2">Features</a></li>
        <li><a href="#about" class="nav-link px-2">About</a></li>
        <li><a href="#signup" class="nav-link px-2">Sign Up</a></li>
      </ul>
    <div class="col-md-3 text-end">
      <button type="button" class="btn btn-outline-primary me-2">Login</button>
    </div>
</header>

<section id="main">
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <div class="row align-items-center g-lg-5 py-5">
          <div id="about" class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Weather Web Application</h1>
            <p class="col-lg-10 fs-4">The Weather Web Application is a user-friendly platform designed to provide accurate weather forecasts for locations around the world. Powered by two robust APIs, Open-Meteo for weather data and Geoapify for geocoding information, this web application ensures users have access to up-to-date weather information at their fingertips.</p>
          </div>
          <div id="signup" class="col-md-10 mx-auto col-lg-5">
            <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
              </div>
              <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
              <hr class="my-4">
              <small class="text-body-secondary">By clicking Sign up, you agree to the terms of use.</small>
            </form>
          </div>
        </div>
      </div>
</section>



<%- include("partials/footer.ejs") %>