<%- include("partials/header.ejs") %>
   <section id="location">
      <form action="/submit" method="post" class="shadow">
          <label for="address">Address</label>
          <input type="text" name="address" placeholder="38 Upper Montagu Street, London W1H 1LJ, United Kingdom" id="address">
          <input type="submit" id="submit"  value="Use Location" class="shadow">
      </form>
   </section>
<%- include("partials/footer.ejs") %>