/* *{
    border: 1px black solid;
} */
section#location{
    background-color:#CCC8AA;
    grid-column: span 2;
    grid-row: span 3;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


section#location form{
    height: 55%;
    width: 55%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    gap: 10px;
    border-radius: 10px;
    background-color: #F1EFEF;
}

#location form label{
    font-size: 25px;

}

#location form input#address{
    font-size: 25px;
    background: none;
    border: none;
    border-bottom: 3px #191717 solid;
}

#location form input#submit{
    width: 20%;
    height: 45px;
    align-self: flex-end;
    background-color: #7D7C7C;
    border:none;
    border-radius: 5px;
    color: white;
}