/* *{
    border: 1px black solid;
} */
body{
   
}
main.grid-container{
    display: grid;
    gap: 10px;
    grid-template-columns: 0.2fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 1000px;
    background-color: rgb(11, 19, 30);
    color:white;
}
/*Sidebar Styles: start*/
#sidebar{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
    grid-row: span 3;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(32, 43, 59);
    border-radius: 10px;
}

button.nav-button{
    width: 100%;
    height: 100px;
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    min-height: 100px;
}
svg.bi-cloud-sun-fill, svg.bi-geo-alt-fill{
    height: 40%;
    width: 60%;
    flex-grow: inherit;
    color: white;
}
/*Sidebar styles: end*/

/*Center part styles: start*/
#center{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 98%;
    grid-row: span 3;
    grid-column-start: 2;
    padding-bottom: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

section .section-title{
   margin: 5px;
   font-weight: bolder;
   font-size: 15px;
}

/*Hero styles*/
section#hero{
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    padding: 5px;
}

#hero #current-weather{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear-sky-hero{
    height: 90%;
    width: 60%;
}

#current-country-name{
    font-weight: bold;
    font-size:50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#current-temperature{
    font-weight: bold;
    font-size:100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Todays forecast Style*/

section#todays-forecast{
    height:300px;
    margin: 5px 15px 10px 15px;
    background-color: rgb(32, 43, 59);
    padding: 10px;
    border-radius: 20px;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#forecast-temperature{
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 20px;
}

#forecast-weather{
    width: 90%;
    height: 45%;
    margin: 2px;
}

#forecast-weather img{
    height:100%;
    width : 100%;
}
#forecast-time{
    font-weight: bold;
    margin-top: 20px;
}

#day-forecast{
    grid-column-start: 3;
    grid-row-start: 1;
}

/*Air condition Style*/
#air-conditions{
    height: 400px;
    background-color: rgb(32, 43, 59);
    border-radius: 20px;
    padding: 20px;
    margin: 5px 15px 10px 15px;
}

#air-conditions .grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    gap: 10px;
    height: 100%;
}

.grid-item{
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 0.2fr 0.5fr ;
}

div.text{
    display: flex;
    grid-column: span 2;
}
.text p{
    font-weight: bold;
    font-size: 20px;
}
.grid-item .actual-value{
    grid-column-start: 2;
    font-weight: bold;
    font-size: 40px;
    margin-right: 20px;
    margin-left: -30px;
}
/*Center part styles: end*/

/*day forecast style: start*/
#day-forecast{
    height: 90%;
    grid-row-start: 1;
    grid-row: span 3;
    margin-top: 10px;
    background-color: rgb(32, 43, 59);
    border-radius: 20px;
}
#day-forecast .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#day{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
#weather{
    font-weight: bold;
}
/*day forecast style: end*/
img{
    height: 100px;
    width: 100px;
}